<div *ngIf="!settingsFinished">
    <app-rule-form (startGameEvent)="startGame($event)"></app-rule-form>
</div>
<div class="container">
    <mat-card [ngClass]="{'active': player.status}" *ngFor="let player of players">
        <mat-card-title>{{player.score}}</mat-card-title>
        <mat-card-subtitle>{{player.name}}</mat-card-subtitle>
        <mat-card-content>Last Throw: {{player.throws[player.throws.length-1].throw}}</mat-card-content>
    </mat-card>
    <div *ngIf="settingsFinished" class="playerBoard">
        <app-keyboard (doneEvent)="roundFinished($event)"></app-keyboard>
    </div>
</div>
