mat-button-toggle-group {
    width: 100%;
  }
  
 mat-button-toggle {
    flex: 1 1 100%;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.text-input{
    margin-top: 1%;
    min-width: 150px;
    width: 100%;
}
.rule-section{
    margin-top: 5%;
    margin-bottom: 5%;
}
