@import "~@angular/material/theming";
@import '/src/styles.scss';
.toolbar-spacer {
    flex: 1 1 auto;
  }
.toolbar-text {
    padding: 1% ;
  }  
.toolbar-icon {
    //color: mat-color($dartApp-primary);
    //background-color: transparent;
    padding: 0 10px;
 }
 // Sidenav + Content
 .sidenav-container {
    height: 100%;
    width: 100%;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
  }
 
 
