.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-text {
  padding: 1% ;
}  
.toolbar-icon {
  padding: 0 10px;
}
// Sidenav + Content
.sidenav-container {
  height: 100%;
  width: 100%;
}
.sidenav {
  padding: 20px;
}
.sidenav-text {
  margin-top: 5%;
  margin-bottom: 5%;
}
.sidenav-content{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
