<!-- Toolbar: Open Sidenav/ Like / Share -->
<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button class="toolbar-icon" aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-text">Dart APP</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="toolbar-icon" onClick="window.open('//google.com')" aria-label="link for rateing">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="toolbar-icon" onClick="window.open('//google.com')" aria-label="link to socialmedia">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- Sidebar for routing in app-->
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p class="sidenav-text">General</p>
    <button mat-button routerLink="/">Dashboard</button>
    <p class="sidenav-text">Games</p>
    <button mat-button routerLink="/firstToZero">
      First To Zero
    </button>
  </mat-drawer>
  <div class="sidenav-content">
    <!-- Content -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
